<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>test.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/rooms</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contact</servlet-name>
		<jsp-file>/contact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>service</servlet-name>
		<jsp-file>/service.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>/service</url-pattern>
	</servlet-mapping>
	<Welcome-file-list>
		<Welcome-file>index.jsp</Welcome-file>
		<Welcome-file>service.jsp</Welcome-file>
		<Welcome-file>contact.jsp</Welcome-file>
		<Welcome-file>about.jsp</Welcome-file>
	</Welcome-file-list>
</web-app>